<form class="form-horizontal" style="width: 650px" ng-controller="signupCtrl">
    <h3>User Registration Form</h3><br>
    <div class="form-group" >
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
        </div>
    </div>
    <div class="form-group" >
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder=" Email Id " ng-model="user.email">
        </div>
    </div>
    <div class="form-group" >
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder=" username" ng-model="user.username">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="signUp(user)">Submit</button><br>
    <h4 style="color: maroon" ng-bind="message">&nbsp;</h4> <!--Message will be displayed-->
</form>
